/.metadata/
/.recommenders/
.com.bafconsulting.service.videorender/.com.bafconsulting.service.videorender/.com.bafconsulting.web.reporting/.com.toedter.e4.ui.workbench.addons/bin/com/toedter/e4/ui/workbench/addons/.com.bafconsulting.service.dirextx3d